<form class="UserForm" method="post">
    <div class="UserForm__box">
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="firstName">First Name: </label>
            <input class="UserForm__box__item__input" type="text" id="firstName"
                   value="{{ app.user.firstName ??  '' }}" name="firstName"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="LastName">Last Name: </label>
            <input class="UserForm__box__item__input" type="text" id="lastName"
                   value="{{ app.user.lastName ?? '' }}" name="lastName"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="streetName">Street Name: </label>
            <input class="UserForm__box__item__input" type="text" id="streetName"
                   value="{{ app.user.streetName ?? '' }}" name="streetName"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="houseNumber">House/Flat number: </label>
            <input class="UserForm__box__item__input" type="text" id="houseNumber"
                   value="{{ app.user.houseNumber ?? '' }}" name="houseNumber"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="postCode">Post Code: </label>
            <input class="UserForm__box__item__input" type="text" id="postCode"
                   value="{{ app.user.postCode ?? '' }}" name="postCode"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="city">City/Town: </label>
            <input class="UserForm__box__item__input" type="text" id="city"
                   value="{{ app.user.city ?? '' }}" name="city"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="county">County/State: </label>
            <input class="UserForm__box__item__input" type="text" id="county"
                   value="{{ app.user.county ?? '' }}" name="county"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="phone">Phone: </label>
            <input class="UserForm__box__item__input" type="text" id="phone"
                   value="{{ app.user.phone ?? '' }}" name="phone"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="email">Email: </label>
            <input class="UserForm__box__item__input--email" type="text" id="email"
                   value="{{ app.user.email ?? '' }}" name="email"/>
        </div>
        {% if app.user is null %}
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="password">Password: </label>
            <input class="UserForm__box__item__input" type="text" id="password"
                    name="password"/>
        </div>
        <div class="UserForm__box__item">
            <input class="UserForm__box__item__input--btn" type="submit" value="Save"/>
        </div>
        {% endif %}
    </div>
</form>
