<form class="UserForm" method="post">
    <div class="UserForm__box">
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="firstName">First Name: </label>
            <input class="UserForm__box__item__input" type="text" id="firstName"
                   value="{{ address ? address.firstName : '' }}" name="firstName"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="LastName">Last Name: </label>
            <input class="UserForm__box__item__input" type="text" id="lastName"
                   value="{{ address ? address.lastName : '' }}" name="lastName"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="streetName">Street Name: </label>
            <input class="UserForm__box__item__input" type="text" id="streetName"
                   value="{{ address ? address.streetName : '' }}" name="streetName"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="houseNumber">House/Flat number: </label>
            <input class="UserForm__box__item__input" type="text" id="houseNumber"
                   value="{{ address ? address.houseNumber : '' }}" name="houseNumber"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="postCode">Post Code: </label>
            <input class="UserForm__box__item__input" type="text" id="postCode"
                   value="{{ address ? address.postCode : '' }}" name="postCode"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="city">City/Town: </label>
            <input class="UserForm__box__item__input" type="text" id="city"
                   value="{{ address ? address.city : '' }}" name="city"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="county">County/State: </label>
            <input class="UserForm__box__item__input" type="text" id="county"
                   value="{{ address ? address.county : '' }}" name="county"/>
        </div>
        <div class="UserForm__box__item">
            <label class="UserForm__box__item__label" for="phone">Phone: </label>
            <input class="UserForm__box__item__input" type="text" id="phone"
                   value="{{ address ? address.phone : '' }}" name="phone"/>
        </div>
        {% if address is null %}
        <div class="UserForm__box__item">
            <input class="UserForm__box__item__input--btn" type="submit" value="Save"/>
        </div>
        {% endif %}
    </div>
</form>
