{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {{ encore_entry_link_tags('orders') }}
{% endblock %}

{% block body %}
<main class="OrderPlaced">
    {% if order is not null %}
        <h3 class="OrderPlaced__header">Order for</h3>
        {% if app.user is not null %}
            <span>{{ app.user.email }}</span>
        {% else %}
            <span>anonymous user</span>
        {% endif %}

        {% for item in order.productList %}
            <div class="OrderPlaced__item">
                <span class="OrderPlaced__item__name">&nbsp;{{ item.name }}</span>
                <span class="OrderPlaced__item__qty">Qty:&nbsp;{{ order.productAmount[item.id] }}</span>
                <span class="OrderPlaced__price">{{ item.price }}&nbsp;EUR</span>
            </div>
        {% endfor %}
        <div class="OrderPlaced__total">
            {{ total(order) }}&nbsp;EUR
        </div>
        {% if app.user is null %}
            {% for msg in  app.flashes('error') %}
                <div class="FlashMsg">
                    <div class="FlashMsg--msg error">{{ msg }}</div>
                </div>
            {% endfor %}
            {% for msg in  app.flashes('success') %}
                <div class="FlashMsg">
                    <div class="FlashMsg--msg success">{{ msg }}</div>
                </div>
            {% endfor %}
        {% include 'cart/_user.html.twig' %}
            {% endif %}
        <div class="OrderPlaced__nav">
            <a class="OrderPlaced__nav--btn" href="{{ path('cart_display') }}">Back to Cart</a>
            {% if app.user is not null or address != null %}

            <a class="OrderPlaced__nav--btn" href="">Go to Payment</a>

            {% endif %}
        </div>
    {% endif %}
</main>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {{ encore_entry_script_tags('orders') }}
{% endblock %}
