{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {{ encore_entry_link_tags('orders') }}
{% endblock %}

{% block body %}
<main class="OrderPlaced">
{{ dump(order) }}

</main>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {{ encore_entry_script_tags('orders') }}
{% endblock %}
